[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MEAanalysis"]
	path = MEAanalysis
	url = https://github.com/egordon2/mea-analysis-package
	subdir = MEAanalysis
